<%= form_for :order, :url => variant_populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_dynamic_variant_product_cart_form">
    <input type="hidden" id="base_price" value="<%= @product.price %>">
    <table>
      <% @product.option_types.each do |ot| %>
        <tr>
          <td><%= ot.presentation  %></td>
          <td>
            <select name="options[<%= ot.id %>]" class="doption-trigger" id="options_<%= ot.id %>">
              <% ot.option_values.collect do |ov| %>
                <option value="<%= ov.id %>" data-surcharge="<%= ov.surcharge %>">
                  <%= ov.presentation %>
                  <% if ov.surcharge > 0 %>
                    <%= "(+"+Spree::Money.new(ov.surcharge).format+")" %>
                  <% end %>
                </option>
              <% end %>
            </select>
          </td>
        </tr>
      <% end %>
    </table>
    <%= hidden_field_tag "product_id", @product.id %>

    <% if @product.price_for(current_pricing_options) and !@product.price.nil? %>
      <div data-hook="product_price" class="columns five <% if !@product.has_variants? %> alpha <% else %> omega <% end %>">

        <div id="product-price">
          <h6 class="product-section-title"><%= I18n.t("spree.price") %></h6>
          <div>
            <span class="price selling" itemprop="price">
              <%= display_price(@product) %>
            </span>
            <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
          </div>
        </div>

        <div class="add-to-cart">
          <%= number_field_tag :quantity, 1, :class => 'title', :min => 1 %>
          <%= button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do %>
            <%= I18n.t("spree.add_to_cart") %>
          <% end %>
        </div>
      </div>
    <% else %>
        <div id="product-price">
          <br>
          <div><span class="price selling" itemprop="price"><%= I19n.t("spree.product_not_available_in_this_currency") %></span></div>
        </div>
    <% end %>
  </div>
<% end %>

<% content_for :head do %>
  <script>
    Spree.ready(function($) {
      $(".doption-trigger").on("change", function() {
        let dPrice = parseFloat($("#base_price").val());
        $(".doption-trigger").each(function() {
          console.log("surcharge: "+$(this).find(":selected").data("surcharge"));
          dPrice += parseFloat($(this).find(":selected").data("surcharge"));
        });
        $(".price.selling").text("$"+dPrice.toFixed(2));
      });
    });
  </script>
<% end %>
